{% set static_nodes = [] %}
{% if etcd_endpoints is sequence and etcd_endpoints is not string %}
{% for server in etcd_endpoints %}
{% set infra = "http://%s:2379" % (server) %}
{% set _ = static_nodes.append(infra) %}
{% endfor %}
{% else %}
{% set infra = "http://%s:2379" % (etcd_endpoints) %}
{% set _ = static_nodes.append(infra) %}
{% endif %}
# defaults to the interface for the default route on the machine
FLANNELD_IFACE={{ ansible_eth0.ipv4.address }}
FLANNELD_ETCD_ENDPOINTS={{ static_nodes | join(',') }}
